.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 1;
}
.button:hover {
  border: 2px solid green;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.button--primary {
  color: white;
  background-color: #1976d2;
}
.button--secondary {
  color: #333;
  background-color: transparent;
}
.button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}
.icon--small {
  font-size: 12px;
}
.icon--medium {
  font-size: 14px;
}
.icon--large {
  font-size: 16px;
}
