.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  user-select: none;
}
.button:hover {
  border: 1px solid green;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
}

.button--small {
  font-size: 10px;
  padding: 8px 12px;
}
.button--medium {
  font-size: 14px;
  padding: 10px 16px;
}
.button--large {
  font-size: 18px;
  padding: 12px 20px;
}

